DATABASE_URL=postgresql://postgres:password@localhost:5432/graviq
JWT_SECRET=replace-with-a-long-random-secret
APP_URL=http://localhost:5173
GMAIL_USER=
GMAIL_PASS=
GOOGLE_CLIENT_ID=729119312312-cnf3rohctk4gd0mqniasn2kmo4vgk55a.apps.googleusercontent.com
VITE_API_URL=http://localhost:3000
VITE_GOOGLE_CLIENT_ID=729119312312-cnf3rohctk4gd0mqniasn2kmo4vgk55a.apps.googleusercontent.com
